* { margin: 0;
    padding: 0;
}
/*body {
    
}*/
/*nav-bar design*/
nav {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    background-color: #1F2937;
    padding-bottom: 50px;
}
.nav-image {
    max-width: 100px;
    max-height: 50px;
    border-radius: 200px;
    padding-top: 10px;
}
.header-links {
    display: flex;
    gap: 100px;
    align-items: center;
}
a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

/*section one*/
#sect-one{
    background-color: #1F2937;
    height: 400px;
    gap: 2em;
}
.main-container{
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.baby-container {
    max-width: 500px;
    padding-right: 100px;
}
.hero{
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 10px ;
}
.sect-img{
    border-radius: 100px;
    width: 300px;
    height: 300px;
    padding: 30px;
}
.btn1 {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    width: 80px;
    border-radius: 5px;
}

/* Section Two*/
#sect-two {
    height: 400px;
    background-color: white;
}
.title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .text{
    text-align: center;
  }
.img-sect2 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
}
.sect-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
  }
.child {
    max-width: 200px;
  }

/* Section Three */
.sect-three {
    height: 400px;
    background-color: #E5E7EB;
}
.quote {
    padding: 100px 100px 0 100px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}
.speaker {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 900;
    padding-right: 150px;
    font-size: larger;
}

/* Section Four */
#sect-four {
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call {
    width: 900px;
    height: 100px;
    background-color: #3882F6 ;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.time {
    font-size: 26px;
    font-weight: bolder;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}
.btn2 {
    
    border: 2px solid white;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 16px;
}

/* Footer */
.footer {
    background-color: #1F2937;
    height: 80px;
    text-align: center;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}